<!doctype html>
<html>
	<head>
		<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
		<title>{% block title %}RetailMeNot Product Viewer{% endblock %}</title>
		{% load staticfiles %}
		<link rel="stylesheet" type="text/css" href="{% static "product_viewer/css/style.css" %}" />
	</head>
	<body>

		<nav class="navbar navbar-default" role="navigation">
		  <div class="container-fluid">
		    <div class="navbar-header">
		      <a class="navbar-brand" href="#"></a>
		    </div>
			{% block navbar %}{% endblock %}
		  </div>
		</nav>

	
		<div class="content-main">
			{% block content_main %}<!-- No Content -->{% endblock %}
		</div>
	</body>
</html>